

    <footer class="footer">
        <div class="container-fluid">
          <div class="copyright float-right">
            &copy; YANN VILLE CONSULTING EIRL
          </div>
        </div>
    </footer>
