    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          CryptoWallet
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if 'index' == segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/mestransactions/">
              <i class="material-icons">content_paste</i>
              <p>Mes Transactions</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/transaction/">
              <i class="material-icons">add</i>
              <p>Nouvelle Transaction</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/profil/">
              <i class="material-icons">person</i>
              <p>Profil</p>
            </a>
          </li>
          
          <li class="nav-item active-pro">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Déconnexion</p>
            </a>
          </li>

        </ul>
      </div>
      {% endif %}

    </div>
