{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Prix du coin</p>
                <h3 class="card-title">{{ infos_coin.prix}}
                  <small>€</small>
                </h3>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Etat</p>
                <h3 class="card-title">{{ coin.etat}} %</h3>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">store</i>
                </div>
                <p class="card-category">Total</p>
                <h3 class="card-title">{{ infos_coin.total}} €</h3>
              </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Mes Transactions</h4>
                <p class="card-category">{{ nom }}</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Prix du coin</th>
                      <th>Quantité</th>
                      <th>Total</th>
                      <th>Date</th>
                      <th>Fraix</th>
                      <th>Etat</th>
                    </thead>
                    <tbody>
                      {% for t in transaction %}
                      <tr>
                        <td>{{t.prix_coin}} €</td>
                        <td>{{t.quantite}}</td>
                        <td>{{t.total}} €</td>
                        <td>{{t.date}}</td>
                        <td>{{t.frais}} €</td>
                        <td>{{t.etat}}</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-link btn-sm">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
