{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Solde du portefeuille</p>
            <h3 class="card-title">{{ portefeuille.solde }}
              <small>€</small>
            </h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="#pablo">Get More Space...</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Dépenses totales</p>
            <h3 class="card-title">{{ portefeuille.depenses }} €</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Frais</p>
            <h3 class="card-title">{{ portefeuille.frais }} €</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Top Coin</h4>
            <p class="card-category">Cryptomonnaies les plus rentables</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Nom</th>
                <th>Dépenses</th>
                <th>Total</th>
                <th>Etat</th>
              </thead>
              <tbody>
                {% for c in top_coin %}
                <tr>
                  <td><a href="/coin/{{c.id_coin}}/">{{c.nom}}</a></td>
                  <td>{{c.depenses}} €</td>
                  <td>{{c.total}} €</td>
                  <td>{{c.etat}} %</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
