{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Mes Transactions</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>Nom</th>
                        <th>Total</th>
                        <th>Quantité</th>
                        <th>Prix Du Coin</th>
                        <th>Date</th>
                        <th>Fraix</th>
                        <th>Etat</th>
                      </thead>
                      <tbody>
                        {% for t in transaction %}
                        <tr>
                          <td><a href="/coin/{{t.id_coin.id_coin}}/">{{t.nom}}</a></td>
                          <td>{{t.total}} €</td>
                          <td>{{t.quantite}}</td>
                          <td>{{t.prix_coin}} €</td>
                          <td>{{t.date}}</td>
                          <td>{{t.frais}} €</td>
                          <td>{{t.etat}}</td>
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
