{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Ajouter Une Nouvelle Transaction</h4>
        </div>
        <div class="card-body">
            <h6 class="card-category">
                {% if msg %}
                    <span class="text-danger">{{ msg | safe }}</span>
                {% endif %}  
            </h6>
            
            <br />
            <form method="post" action="">
            {% csrf_token %} 
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                    <label class="bmd-label-floating">Nom</label>
                    {{ form.nom }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="bmd-label-floating">Prix par coin</label>
                        {{ form.prix_coin }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="bmd-label-floating">Quantité</label>
                        {{ form.quantite }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="bmd-label-floating">Total</label>
                        {{ form.total }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="bmd-label-floating">Frais</label>
                        {{ form.frais }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="bmd-label-floating">Date</label>
                        {{ form.date }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Ajouter</button>
            <div class="clearfix"></div>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

    $('#id_nom').selectize({
      sortField: 'text'
    });

</script>
{% endblock javascripts %}
